

 <h2>{{theCelebrity.name}}</h2>
 <img src="{{theCelebrity.image}}" alt="image of {{theCelebrity.name}}">
 <p> <strong>Occupation:</strong> {{theCelebrity.occupation}}</p>
 <p> <strong>Catch Phrase:</strong> {{theCelebrity.catchPhrase}}</p>